#Postgres
POSTGRES_DB=db_name
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pwd
POSTGRES_PORT=port

#Redis
REDIS_HOST=redis
REDIS_PORT=6379

#Subscribe
SUBSCRIBE__RUN__TOKEN=token
SUBSCRIBE__CHANNEL__CHAN_ID=channel_id
SUBSCRIBE__DB__URL=postgresql+asyncpg://postgres:pwd@pg:port/db_name
SUBSCRIBE__PAYMENT__TOKEN=payment_token
SUBSCRIBE__ADMIN__SUPPORT=support_nickname
SUBSCRIBE__ADMIN__SUPER_USER=super_user_nickname